@import url("colors.css");

* {
  font-family: "Iosevka";
  border: none;
  border-radius: 0;
  min-height: 0;
  padding: 0;
}

window#waybar {
  background: @bg_h;
  color: @fg2
}

#clock,
#battery,
#pulseaudio, 
#tray {
	margin: 0 6px;
}

#workspaces button {
  color: @fg2;
  background: none;
  box-shadow: none;
}

#workspaces button:hover,
#workspaces button.active,
#workspaces button.focused {
  background-color: @fg2;
  color: @bg_h;
}
